{% extends 'base.html' %}

{% block title %}About {% endblock title %} 

{% block body  %}
this  is my about  body 
<div class="sectop">
                                



                                


    <a target="_blank" href="http://pmmydata.mudra.org.in/">
        <i class="fa fa-lock" aria-hidden="true">
        </i>
        <en>Login for PMMY Portal</en>
        <hn>PMMY पोर्टल के लिए लॉगिन करें</hn>
    </a>

</div>

{% endblock body  %}

Financial Year :2015-2016
No. Of PMMY Loans Sanctioned :34880924
Amount Sanctioned : 137449.27 CRORE
Amount Disbursed : 132954.73 CRORE

<div class="sectop">
                                


    <div class="sectop">
                                



                                


        <a target="_blank" href="http://pmmydata.mudra.org.in/">
            <i class="fa fa-lock" aria-hidden="true">
            </i>
            <en>Login for PMMY Portal</en>
            <hn>PMMY पोर्टल के लिए लॉगिन करें</hn>
        </a>
    
    </div>
                                


    <a target="_blank" href="http://pmmydata.mudra.org.in/">
        <i class="fa fa-lock" aria-hidden="true">
        </i>
        <en>Login for PMMY Portal</en>
        <hn>PMMY पोर्टल के लिए लॉगिन करें</hn>
    </a>

</div>

QUICK MENU
 OFFERINGS
 PMMY REPORT
 FAQ
 TENDERS
 CAREERS
 CONTACT US
 PAYMENT VIA BHIM UPI/QR COD